<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-toolbar style="height: 10px;background-color:white;min-height: 30px !important; height: 38px !important;" >
  
    <mat-toolbar-row>
      
     <span><h1><b><span style="color:tomato">Spicy</span> Den</b></h1></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <div style="margin-left:auto; margin-right:0;">
      <a mat-button ><span class="fa fa-home fa-lg"></span> Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <a mat-button ><span class="fa fa-info fa-lg"></span> About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <a mat-button ><span class="fa fa-list fa-lg"></span>    Menu   </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <a mat-button ><span class="fa fa-tasks  fa-lg"></span> Events</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <a mat-button><span class="fa fa-address-card fa-lg"></span> Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
      <span class="flex-spacer"></span>
      
    </div>
      </mat-toolbar-row>
  </mat-toolbar>