
<body style="background-image: url('../assets/images/blackandorange.jpg');background-size: cover;">
    <div class="container"
     fxLayout="column">
    <div class="container" >
        <div class="row">
            <div class="column" style="color:white"><br><br><br><br>
                <div style="text-align: center;">  <span style="font-size: 20px;"> Whether you’re craving for something spicy or something sweet a quick bite or a hearty meal for yourself or for the entire family there’s only one place to be</span></div>
                <div style="text-align: center;"> <br>--<span style="color:tomato">Spicy</span> Den</div>
            </div>
            <div class="column"><br>
                <img src="../assets/images/about.jpg" onmouseover="bigImg(this)" onmouseout="normalImg(this)" height="300px"/>
            </div>
        </div>
    </div>
    </div>
    <br>
</body>
<body style="background-color:#ffeecc">
    <div class="container"
     fxLayout="column">
     <br>
     <h2>Why Us ?</h2>
    <div class="container" >
        
        <div class="row">
            <div class="column1" style="color:tomato">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h4 style="color:tomato">01</h4>
                        </mat-card-title>
                        
                        Superior Value
                    </mat-card-header>
                    <mat-card-content>
                        <br>
                       <p style="font-size: 15px;font-weight: 100;"> If you are looking for value for money, Spicy Den delivers. You will receive a fresh 100% home  made dish in a portion size that won’t leave you scrapping your plate.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column1" style="color:tomato">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h4 style="color:tomato">02</h4>
                        </mat-card-title>
                        
                        &nbsp;Hygiene
                    </mat-card-header>
                    <mat-card-content>
                        <p style="font-size: 15px;font-weight: 100;"> We maintain a very high hygiene at Spicy Den. We make sure that our employees follow the sanitization policies very strictly and also make sure they use spoons, forks and other utensils when handling foods and all the utensils are well sterilized.</p>
                    
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column1" style="color:tomato">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h4 style="color:tomato">03</h4>
                         </mat-card-title>
                         100% Vegetarian
                    </mat-card-header>
                    <mat-card-content>
                        <br>
                        <p style="font-size: 15px;font-weight: 100;">Spicy Den is a 100% vegetarian cousine. If you are vegetarian, this is the best place for you. You can enjoy your food here peacefully. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <br><br><br>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column1" style="color:tomato">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h4 style="color:tomato">04</h4>
                         </mat-card-title>
                         Flexible Menu
                    </mat-card-header>
                    
                    <mat-card-content>
                        
                        <p style="font-size: 15px;font-weight: 100;"> Whether you’re looking to dine with three people or 20 people,  we can mix and match food combinations without a hassle. No one has to fight over the last spring roll!</p>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
    </div>
    </div>
</body>
<body style="background-image: url('../assets/images/blackandorange.jpg');background-size: cover;">   
    
     <br>
     <h3 style="color:white">Meet Our <span style="color:tomato">Spicy</span> Team</h3>
   <br>
   <a href="#"style="text-decoration : none" ><h4 style="color:white;padding-left:20px">Venkatesh Bhat</h4>
    <h5 style="color:white;padding-left:20px">Director / Chef</h5><span><img src="../assets/images/venkateshbhat.jpg" style="padding-left: 250px;" height="250px"/> </span></a>
   <br> <a href="#" style="text-decoration : none"> <h4 style="color:white;padding-left:20px">Arun Vijay</h4>
    <h5 style="color:white;padding-left:20px">Culinary Director</h5><span><img src="../assets/images/arunvijay.jpg" style="padding-left: 250px;" height="250px"/> </span></a>
<br><a href="#" style="text-decoration : none"><h4 style="color:white;padding-left:20px">Nithya H</h4>
    <h5 style="color:white;padding-left:20px">Director of Operations</h5><span><img src="../assets/images/nithya.jpg" style="padding-left: 250px;" height="250px"/> </span></a>
   <br> <a href="#" style="text-decoration : none"><h4 style="color:white;padding-left:20px">Rekha Hari</h4>
        <h5 style="color:white;padding-left:20px">Event Director</h5><span><img src="../assets/images/rekha.jpg" style="padding-left: 250px;" height="250px"/> </span></a>
        <br> <a href="#" style="text-decoration : none"><h4 style="color:white;padding-left:20px">Saravanan H</h4>
            <h5 style="color:white;padding-left:20px">Financial Director</h5><span><img src="../assets/images/saravanan.jpg" style="padding-left: 250px;" height="250px"/> </span></a>
    <br>
    <br>
    <br>
  
</body>