<br>

<body style="background-color: black;">
    <br>
    <h3 style="color:tomato;padding-left: 20px;">Reservation</h3>
    <h4 style="color:whitesmoke;padding-left: 20px;">Book a Table</h4>
    <div style="padding:20px 150px 20px 150px;">
    <form>
        <div class="form-row" style="color:white">
          <div class="col-lg-4 col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" >
         
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" >
           
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" >
            
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="text" name="date" class="form-control" id="date" placeholder="Date" >
            
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="text" class="form-control" name="time" id="time" placeholder="Time" >
            
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="number" class="form-control" name="people" id="people" placeholder="Number of people" >
            
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
         
        </div>

        <div class="text-center"><button type="submit">Book a Table</button></div>
      </form>
    </div>
    <h3 style="color:tomato;padding-left: 20px;">Events</h3>
    <h4 style="color:whitesmoke;padding-left: 20px;">Organize your events at our<span style="color:tomato"> Spicy</span> Den</h4>
    
   <br> <div style="padding-left:200px;"><div id="events" class="carousel slide" data-ride="carousel" style="width:750px;">
        <ol class="carousel-indicators">
          <li data-target="#events" data-slide-to="0" class="active"></li>
          <li data-target="#events" data-slide-to="1"></li>
          <li data-target="#events" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../assets/images/birthday.jpg" height="500px" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5><b>Birthday Parties</b></h5>
                <p>Host your birthday parties at our Spicy Den. We also have special birthday party halls for children.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/private.jpg" height="500px" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5><b>Private Parties</b></h5>
                <p>Host a private party at our Spicy Den</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/custom.jpg" height="500px" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:white"><b>Custom Events</b></h5>
                <p style="color:white">We specialize in designing both thematic and custom event decor that are creative, innovative, appeal to the senses and create an incredible event-surround.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#events" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#events" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
      <h4><span style="padding-left: 200px;color:white">To organize events please call us at +91-9573096497 or email us at support@spicyden.com</span></h4>
    <br>
    <br>

    <br>
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

