textarea {
    padding: 10px 12px;
    background:black;
  }

  input{
    padding: 10px 12px;
    background:black;
    
  }
  textarea:focus { 
    outline: none !important;
    border-color: tomato;
    background:black;
    box-shadow: 0 0 10px tomato;
}
input:focus { 
    outline: none !important;
    border-color: tomato;
    background:black;
    color:white;
    box-shadow: 0 0 10px tomato;
}
button[type="submit"] {
    background:tomato;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
