<br>
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" >
      <div class="row">
        <div class="col-lg-8">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="../assets/images/spicy.png" height="120px"/>
          <h1 style="color:black;">Welcome to <span style="color:tomato;">Spicy</span> <span style="color:tomato">Den</span></h1>
          <h2 >Delivering tasty food since 2020!</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto" style="color:black">Our Menu</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto" style="color:black">Book a Table</a>
          </div>
        </div>


      </div>
    </div>
  </section>